杨惠洁/week09/穿衣智能指南.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 穿衣智能指南
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.26@4f1c4ded3d189719b7dd54e9d4e5b26f724f3632f3dfaa299491b42accc112c8
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1761284314053-source-1761284858555-target
      source: '1761284314053'
      sourceHandle: source
      target: '1761284858555'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1761284858555-source-1761285445662-target
      source: '1761284858555'
      sourceHandle: source
      target: '1761285445662'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 天气
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: weather
        - default: ''
          hint: ''
          label: 温度
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: temperature
        - default: ''
          hint: ''
          label: 湿度
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: humidity
      height: 140
      id: '1761284314053'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qvq-max-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: ca77f5d0-3d10-49c0-988d-e43c384a8846
          role: system
          text: 你是一个根据天气给出穿衣建议的专家，用户会给你提供天气、温度、湿度，你要输出给出相应的建议
        - id: bd20644e-ecfa-4fca-b917-1127c4146a26
          role: user
          text: '天气：{{#1761284314053.weather#}}

            温度：{{#1761284314053.temperature#}}

            湿度：{{#1761284314053.humidity#}}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1761284858555'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1761284858555'
          - text
          value_type: string
          variable: option
        selected: true
        title: 结束
        type: end
      height: 89
      id: '1761285445662'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -51
      y: 175.5
      zoom: 1
  rag_pipeline_variables: []
